{
    "passPerPreset": true,
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      [
        "@babel/plugin-proposal-decorators",
        {
          "legacy": true
        }
      ],
      "relay",
      "@babel/plugin-transform-runtime",
      "@babel/plugin-syntax-dynamic-import",
      "@babel/plugin-transform-react-inline-elements"
    ],
    "presets": [
      ["@babel/preset-env", {}, "preset-env"],
      ["@babel/preset-react", {}, "preset-react"]
    ],
    "env": {
      "test": {
        "plugins": [
          "@babel/plugin-proposal-class-properties"
        ],
        "presets": [
          ["@babel/preset-env", {}, "unique-name-a"],
          ["@babel/preset-react", {}, "unique-name-b"]
        ]
      }
    }
  }